/* Header Style */
.header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Banner\ Image.png);
  background-repeat: no-repeat;
  height: 600px;
  width: 1320px;
  border-radius: 16px;
}
.banner-text {
  text-align: center;
  color: #fff;
  font-family: Merriweather;
  padding: 150px;
}
.new-year {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.new-year-cele {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* Main Style */

.main-text {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  margin-top: 100px;
}
.main-text-head {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
.main-text-normal {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.main-text-sec {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}
.main-new-year-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.main-info {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  color: #fff;
  font-family: Merriweather;
  margin-top: 90px;
}
.main-info .main-info-text h1 {
  width: 642px;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-top: 70px;
  padding-left: 100px;
}
.main-info .main-info-text p {
  width: 697px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 100px;
}
.main-info .main-info-text button {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 130px;
  background-color: transparent;
  color: #fff;
}
.main-info-pic img {
  padding-top: 70px;
  padding-left: 70px;
}
.main-place {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  text-align: center;
  margin-top: 100px;
  padding-top: 70px;
  line-height: 80%;
}

.main-place h2 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.main-place-span {
  color: #f00;
  margin-top: ;

  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.main-place button {
  color: #fff;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f00;
  border-radius: 8px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

/* Portfolo Syle */

.main-port-text h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-port-text h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.main-port-text p {
  color: rgba(7, 2, 17, 0.6);
  width: 896px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.main-port-img {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 20px;
}

/* Subscribe Section Style*/

.main-subs {
  margin-top: 100px;
  width: 1320px;
  height: 616px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.main-subs-img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  padding-top: 80px;
}
.main-subs-text h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.main-subs-text p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  padding-left: 200px;
}
.main-subs-textfield {
  margin-left: 520px;
  width: 100px;
  height: 50px;
  display: flex;
  text-align: center;
}
.main-subs-textfield input {
  border: none;
  padding: 15px;
  border-radius: 50px 0px 0px 50px;
  background: #c3c2c6;
}
.main-subs-textfield button {
  border: none;
  padding: 15px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: white;
}

/* footer Style */
.footer{
  background-color: #070211;
  margin-top: 10px;
  width: 1320px;
}
.upper-text {
  color: #c3c2c6;
  width: 1500px;
  height: 150px;
  flex-shrink: 0;
  padding-top:40px;
}

.upper-text  {
  display: flex;
}
.upper-text p{
  padding-left: 100px;
}
.upper-text li{
  list-style: none;
  padding-left: 740px;
}

.footer hr {
  width: 1120px;
  height: 1px;
  background:rgba(249, 241, 241, 0.15);
}
.middle-img{
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #c3c2c6;
}
.lower-text{
  color: #c3c2c6;
  display: flex;
}
.copyright{
  padding-left: 100px;
}
.unsub{
  padding-left: 870px;
}